#about_container, .color_picker{
  position:fixed;
  height:100%;
  width:100%;
  background-color: #110F0C;
  z-index:70;
  display: none;
  text-align: center;
}

#closeA, #closeC{
  position:fixed;
  top:4rem;
  right:4rem;
}

#closeA:hover, #closeC:hover{
  cursor:pointer
}

.about_smallCONT, .color_smallCont{
  position:relative;
  margin-left:auto; margin-right:auto; margin-top: 150px;
  max-width: 80%;  width: 550px;
  overflow-y: auto;
  top:0;
}

/* *----------------------------------------------------------TEXT*/
.text{
  font-family: spaceGrotesk;
  color:white;
  font-size:0.8rem;
  text-align: left;
  line-height: 1.1rem;
}

.aboutTitle{
  font-size:2.2rem;
  color:white;
  font-family: spaceGrotesk;  font-weight: bold;
  margin-bottom:1rem;
}

.aboutline{
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
}
/* -----------------------------------LGENDAS*/
#aboutlegendas{
  position:relative;
  height:inherit;
  width:400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#aboutlegendas img{
  position:absolute;
  visibility:hidden;
  left:0;
  height:auto;
  width:400px;
  top:0;
  object-fit: cover;
  z-index:80;
}


/* -------------------------------------PICKER*/

.picker{
  border:none;
  box-shadow: none;
  width:50px;
  height:50px;
  clip-path: ellipse(20px 20px at center);
  margin-right: 1rem;
}

#c_con{
  width:100px;
  clip-path: inset(40% 10% 40% 10%);}

.picker:hover{
  opacity:0.8;
  cursor: pointer;
}

.color_bar{
  margin-top: 2rem;
  position:relative;
}

.color_title{
  font-family: spaceGrotesk;
  font-size: 1.2rem;
  font-weight: normal;
  color: white;

 text-align: right;
  width:10rem;
  position:absolute;
  left:0;
  margin-bottom: 1rem;
}

#colorOpen:hover {
  cursor: pointer;
  color:#FF3940;
}


.color_smallCont button{
  padding: 0; border: none;background: none;
  color: white;
  font-family: spaceGrotesk;
  font-size: 1.5rem;
  font-weight: bold;
    margin:1rem;
    margin-top: 6rem;
}

.color_smallCont button:hover {
  padding: 0; border: none;background: none;
  color: #ff3940;
  cursor: pointer;
}

.color_bar span{
  font-family: spaceGrotesk;
  color:white;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
