#about_container, .color_picker{
  position:fixed;
  height:100%;
  width:100%;
  background-color: #110F0C;
  z-index:70;
  display: none;
  text-align: center;
}

#closeA, #closeC{
  position:fixed;
  top:4rem;
  right:4rem;
}

#closeA:hover, #closeC:hover{
  cursor:pointer
}

.about_smallCONT, .color_smallCont{
  position:relative;
  margin-left:auto; margin-right:auto; margin-top: 150px;
  max-width: 80%;  width: 550px;
  overflow-y: auto;
  top:0;
}

/* *----------------------------------------------------------TEXT*/
.text{
  font-family: spaceGrotesk;
  color:white;
  font-size:0.8rem;
  text-align: left;
  line-height: 1.1rem;
}

.aboutTitle{
  font-size:2.2rem;
  color:white;
  font-family: spaceGrotesk;  font-weight: bold;
  margin-bottom:1rem;
}

.aboutline{
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
}
/* -----------------------------------LGENDAS*/
#aboutlegendas{
  position:relative;
  height:inherit;
  width:400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#aboutlegendas img{
  position:absolute;
  visibility:hidden;
  left:0;
  height:auto;
  width:400px;
  top:0;
  object-fit: cover;
  z-index:80;
}


/* -------------------------------------PICKER*/

.picker{
  border:none;
  border-radius: 50%;
  box-shadow: none;
  width:50px;
  height:50px;
    clip-path: ellipse(20px 20px at center);
}


.color_title{
  font-family: spaceGrotesk;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-top:2rem;
  margin-bottom: 1rem;

}

.color_smallCont button{
  text-decoration: none;
  border: none;
  color: white;
  font-family: spaceGrotesk;
  font-size: 1rem;
  font-weight: bold;
}
