#actor_info{
    visibility: hidden;
  background-color: #110F0C;
  position:fixed;
  opacity:90%;
  width:225px;
  height:inherit;
  flex-direction: column;
  top:12rem;
left:-200px;
  right:2rem;
  z-index:30;
  display:flex;
  transition: all 0.8s ease-in-out;
  overflow: hidden;
}


#imgbox{
  display:flex;
  flex-direction: column;
  justify-content: center;
  position:relative;
  top:0;
  width:75%;
  height:220px;
  background-color: blue;
  margin-left:auto;
  margin-right:auto;
  margin-top: 30px;
  margin-bottom: 1rem;
}

#imgcolor{
  background-color: #1A423A;
  mix-blend-mode: color;
  position:absolute;
  opacity:1;
  height:100%;
  width:100%;
}

#actorimg{
  mix-blend-mode: screen;
  margin-left:auto;
  margin-right: auto;
  position:relative;
  height:100%;
  width:100%;
  object-fit: cover;
}


/*-----------------------------------TEXT------------------ */

#actor_info div{
  font-family: spaceGrotesk;
  color:white;
}
.actor_tiny{
  font-size: 0.8rem;
  margin-top: 0.8rem;
  color:white;
}
#actor_labels{
  width:75%;
  margin-left:auto;
  margin-right:auto;
}
#actor_name{
  margin-top:1rem;
  font-size:1.4rem;
  font-weight: bold;
}
#actor_link{
  font-size:0.8rem;
  text-decoration: none;
  color:white;
}

#actor_link:hover{
  cursor:pointer;
  text-decoration: underline;
  color: #FF3940;
}

#actor_info_cancel{
  position:absolute;
  width:10px;
  right:-5px;
  top:5px;
  width:30px;
  margin-bottom: 0.2rem;
  cursor:pointer;
}

#degree_val{
  position: relative;
  top:2px;
  font-size:1rem;
  right:-8px;
}
/* --------------------------------------------------- SLIDER-------------*/
.slider{
  margin-top: 0.70rem;
-webkit-appearance: none;
 width: 80%;
 height: 2px;
 background: white;
 opacity: 0.9;
 outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
   outline: none;
}
.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
   outline: none;
}

.slider::-webkit-slider-thumb:hover  {
  background:#FF3940;
  width: 12px;
  height: 12px;
}
.slider::-moz-range-thumb:hover {
  background:#FF3940;
  width: 12px;
  height: 12px;
}
