container/*110F0C ---DARK COLOR*/
/* FFFFFF--- white*/

* {
  margin: 0;
  padding: 0;
  font-family: spaceGrotesk;
}

body {
  background-color: #110F0C;
}

#sigma-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#ui_container {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  pointer-events: auto;
  right:0;
  top:0;
}

/* ---------------SIDEBAR*/
.sidebar {
  position: fixed;
  left: 100%;
  top:0;
  right:auto;
  min-width: 200px;
  width:15%;
  height:100%;
  padding: 2rem;
  opacity: 1;
  padding-top:4em;
}
.ghost{
  background-color: #110F0C;
  opacity:0.5;
  pointer-events: none;
}

.aniSlidebar{
  animation-name: cssAnimation;
  animation-duration:3s;
  iteration-count: 1;
  timing-function: ease;
}
@-webkit-keyframes slidebar {
  from {
    right:auto;
  }
  to {
    right:0;
  }
}

/* -------------------SEARCHBAR------*/

#search_bar {
  border: none;
  border-bottom: 2px solid white;
  color:white;
}

#search_bar, #suggestion-container {
  font-family: spaceGrotesk;
  font-size: 1em;
  padding: 4px;
  margin: 0;
  background-color: #110F0C;
  color:white;
  opacity:0.9;
}

#suggestion-container {
  position: absolute;
  z-index:6;
  pointer-events: none;
}

#suggestion{
  color: red;
}


#genre_selector, #search_actor {

}

#genre_selector > label {
  display: block;
  color: white;
  font-family: spaceGrotesk;
  font-size: 1rem;
  line-height: 1.2rem;
}
#genre_selector: hover{
  border-style: solid;
  color:Red;
}


#genre_container, #search_container{
margin-bottom:3rem;
}

/* esconder as checkbox's do form de genres */
input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.settings-box-element {
  z-index: 10;
}

.genre_box + label {
  cursor: pointer;
}

.genre_box:checked + label {
  color: red;
  border-color: #e83737;
}
/* -------------------TEXTO------*/

.ui_title {
  font-family: spaceGrotesk;
  font-weight: bold;
  color:white;
  font-size:1.9rem;
  margin-bottom: 0.8rem;
}

/* ---------------seta*/
