* {
  margin: 0;
  padding: 0;
  font-family: spaceGrotesk;
}

body {
  background-color: #110F0C;
}

#sigma-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#ui_container {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  pointer-events: auto;
}

/* esconder as checkbox's do form de genres */
input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.settings-box-element {
  z-index: 10;
}

.genre_box + label {
  cursor: pointer;
}

.genre_box:checked + label {
  color: red;
  border-color: #e83737;
}


#search_bar {
  border: none;
}

#search_bar, #suggestion-container {
  font-family: spaceGrotesk;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#suggestion-container {
  position: absolute;
  left: 0;
  pointer-events: none;
}

#suggestion{
  color: red;
}


#sidebar {
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 255, 0.2);
}


#genre_selector, #search_actor {

}

#genre_selector > label {
  display: block;
}

.ui_title {
  font-family: spaceGrotesk;
  font-weight: bold;
}
