.tab_container{
  position:fixed;
  bottom:-60px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index:30;
  transition: all 0.2s ease-in-out;
}

.tab{
  font-family: spaceGrotesk;
  color:white;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
